Flask == 2.0.2
Flask-SQLAlchemy == 2.5.1
Flask-GraphQL == 2.0.1
sqlalchemy == 1.4.26
python-dotenv == 0.19.1
flask-restx == 0.5.1
graphene == 2.1.9
flask-accepts == 0.18.4
marshmallow == 3.14.0
boto3 == 1.18.13