body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  width: 275px;
  /* height: 100%; */
  float: left;
}

.navbar nav {
  padding: 0 10px;
}

.navbar .ms-Nav-groupContent {
  margin-bottom: 20px;
}

.loader-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #555;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px);
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 25px;
  margin: 10px 0 0 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
  position: relative;
  top: 15px;
  margin: 0;
  font-weight: normal;
}

.version {
  color: #666;
  align-self: center;
  margin-right: 10px;
  font-size: 0.8em;
  position: relative;
  top: 2px;
}

.main-menu .ms-CommandBar {
  padding-right: 7px;
}

.content .graphiql-container {
  width: auto;
}

.content .ag-root-wrapper.ag-layout-normal {
  height: 96%;
}

.content .ag-theme-balham .ag-status-bar {
  font-weight: normal;
  color: #000;
}

.content .ag-theme-balham .ag-status-bar .ag-status-name-value-value {
  font-weight: 600;
}

#total-row-count {
  height: 16px;
}
